<header>
  <img src="assets/images/v1/logos/olalogo@3x.png" width="70px" alt="OLA" />
</header>

<div class="options">
  <ul>
    <ng-container *ngFor="let tab of tabs">
      <li
        [ngClass]="activeTab === tab.slug ? 'active' : ''"
        (click)="changeTab(tab.slug)"
      >
        {{ tab.label }}
      </li>
    </ng-container>
  </ul>
</div>

<div class="container">
  <form action="">
    <div class="form_control">
      <label for="where">From</label>
      <input type="text" placeholder="Enter pickup location" id="where" />
    </div>
    <div class="form_control">
      <label for="where">Where</label>
      <input
        type="text"
        placeholder="Search for a locality or landmark"
        id="where"
      />
    </div>
    <div class="form_control">
      <label for="when">When</label>
      <select name="when" id="when">
        <option value="Now">Now</option>
        <option value="Schedule for later">Schedule for later</option>
      </select>
    </div>
  </form>

  <!-- Cabs Details -->
  <div class="cabs_details">
    <div class="cabs_heading">
      <span>AVAILABLE RIDES</span>
    </div>

    <ul class="cabs_list">
      <ng-container *ngFor="let cab of cabs">
        <li
          [ngClass]="activeCab === cab.slug ? 'active' : ''"
          (click)="changeCab(cab.slug)"
        >
          <div class="cab_icon">
            <img [src]="cab.icon" [alt]="cab.name" />
            <span>{{ cab.duration }}</span>
          </div>
          <div class="cab_title">
            <p>{{ cab.name }}</p>
            <span>{{ cab.desc }}</span>
          </div>
          <div class="more">
            <span>{{ cab.fare | currency: cab.currency }}</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="next">
  <button [disabled]="!activeCab">
    <span *ngIf="!activeCab">Please select your cab</span>
    <span *ngIf="activeCab"
      >Continue with {{ selectedCab.name }} for
      {{ selectedCab.fare | currency: selectedCab.currency }}</span
    >
  </button>
</div>
